/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Merriweather:wght@900&display=swap');

body{
    display: flex;
    flex-direction: column;
    background-color: #186c51;
    color: gold;
    font-family: 'Inter', sans-serif;
}
main {
    margin: 0;
}

h1 {
    font-family: 'Merriweather', serif; 
}

h3 {
    text-align: center;
    margin: 0.5em 0;
}

.player-cards {
    width: 100%;
    min-height: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1.17em;

}

.card-img{
    width: 30vw;
}

button {
    padding: 1em 1.5em;
    background-color: gold;
    border: none;
    color:#186c51;
    font-family: 'Merriweather', serif; 
    cursor: pointer;
}

.draw-card{
    width:100%;
}
